.container {
  font-size: 18px;
  background-color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.container a {
  text-decoration: underline;
  color: #c586c0;
}

@media screen and (min-width: 650px) {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
